[Desktop Entry]
Version=1.0
Name=Terminal Emulator
Comment=Use the command line
Exec=gnome-terminal
Icon=utilities-terminal
Terminal=true
Type=Application
Categories=System;TerminalEmulator;